/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
GENERAL 
*/

img {
    width: 100%;
    display: block;
}

.img-card {
    position: relative;
}

.heart {
    font-size: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    line-height: 50px;
}

.discount,
.discount+div {
    display: inline-block;
    padding: 5px 8px;
    color: white;
}

.discount {
    background-color: red;
}

.discount+div {
    background-color: green;
}

/* HEADER */

.container-header {
    width: 100%;
    height: 80px;
    background-color: #FF6900;
}

/* MAIN */

/* immagine della carta */

main .container-main {
    width: 80%;
    margin: auto;
}

.cards {
    margin-top: 60px;
}

.card1 {
    width: calc(100% / 3);
}

.heart {
    position: absolute;
    right: 0;
    top: 10px
}

.heart+div {
    position: absolute;
    bottom: 50px;
    left: 0;
}

/* immagine della carta */

/* info carta */

.info-card div:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}

.info-card>span {
    display: inline-block;
}

.info-card span:first-of-type {
    color: red;
    font-weight: bold;
}

.info-card span+span {
    text-decoration: line-through;
}





/* FOOTER */