/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
GENERAL 
*/

main {
    padding-top: 150px;
}

img {
    width: 100%;
    display: block;
}

.img-card {
    position: relative;
}

.discount,
.discount+div {
    display: inline-block;
    padding: 5px 8px;
    color: white;
}

.img-card .discount {
    background-color: red;
}

.discount {
    background-color: red;
}

.discount+div {
    background-color: green;
}

.card6 .heart+div {
    background-color: green;
    color: white;
    padding: 5px 8px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1,
.card2,
.card3 {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}

/* HEADER */

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #FF6900;
}

.container-header {
    width: 80%;
    margin: auto;
}

.container-header section {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav+a {
    width: 150px;
}

header section div a i {
    color: white;
    padding: 0 10px;
}

/* MAIN */

/* immagine della carta */

main .container-main {
    width: 80%;
    margin: auto;
}

.cards>* {
    width: calc((100% / 3) - 20px);
}

.img-card {
    position: relative;
}

.heart {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    line-height: 50px;
}


.heart:hover {
    color: red
}

.heart+div {
    position: absolute;
    bottom: 50px;
    left: 0;
}

/* immagine della carta */

/* info carta */

.info-card div:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}

.info-card>span {
    display: inline-block;
}

.info-card span:first-of-type {
    color: red;
    font-weight: bold;
}

.info-card span+span {
    text-decoration: line-through;
}

/* info carta */

/* Sezione immagini nascoste */

.my-col .hidden-img {
    display: none;
}

.my-col:hover .first-img {
    display: none;
}

.my-col:hover .hidden-img {
    display: block;
}

/* FOOTER */

footer {
    width: 100%;
    height: 80px;
    background-color: #1A1A1A;
}

.container-footer {
    width: 80%;
    margin: auto;
}

.container-footer section {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container-footer section h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.container-footer section a {
    color: white;
    text-decoration: none;
}

.container-footer section h4+div a:nth-of-type(2) {
    margin: 0 10px;
}

footer h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer section a:nth-of-type(2n) {
    margin: 0 10px;
}